# Groups.io API
GROUPSIO_API_KEY=
GROUPS_IO_API_KEY=
NEXT_PUBLIC_GROUPS_IO_API_KEY=
DIMU_API_KEY=
NM_API_KEY=
HUBSPOT_TOKEN=
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
SETTINGS_PASSWORD=
APP_USERNAME=foto
APP_PASSWORD=NaMFOTO

# FotoWeb API
FOTOWEB_BASE_URL=https://images.nasjonalmuseet.no
FOTOWEB_API_TOKEN=
FOTOWEB_SEARCH_FIELD=fn212
